<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Cartera de Tarjetas
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>

    <ion-grid>
      <ion-row>
      <ion-col col-12>
          <ion-list>
              <ion-item *ngFor="let card of cards">
                   <ion-label>
                    <img width="40" [src]="card.icon">
                    {{card.number}}<br>
                    {{card.holder_name}}<br>
                    {{card.expiry_month}}/{{card.expiry_year}}
                </ion-label>
                <ion-icon  ios="ios-trash-outline" md="md-trash"  (tap)="deleteCard(card['card_token'])" item-end></ion-icon>

              </ion-item>


              <label ion-item *ngIf="cards.length === 0" >
                  <ion-avatar item-start>
                      <img src="assets/imgs/card.png">
                    </ion-avatar>
                    <h2></h2>
                    <p>No se han agregado tarjetas a esta cuenta</p>
              </label>
            </ion-list>
      </ion-col>
      <ion-col class="flexcontainer">
        <button center ion-fab mini color="light" (tap)="addCard()"><ion-icon name="add"></ion-icon></button>
      </ion-col>
    </ion-row>
    </ion-grid>

  </ion-content>
