page-ingredientes {

    .porcion, .descripcion{
        max-width: 100% !important;
        width: 100%;
        max-width: 100%;
       
    }


    .nombre, .costo{
        color : black;
        
    }

    .siguiente {
        text-align: center
        
    }
}
