
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <img class="formato-logo" src="../assets/imgs/logotipon.png">
        <button float-right style="color: #1ABC9C; width: 22%; height: 13%; margin-top:-12%; padding-top:0%," ion-button clear small icon-start (click)="ordenar()">
                <img class="imagen-boton" src="../assets/imgs/carritoc.png" />
        </button>
    </ion-navbar>
</ion-header>
<ion-content padding class="cards-bg">
    <ion-card no-padding class="formato-main-card">
        <div class="formato-span-secondary">
            <span>CARRITO</span><br>
        </div>
        <div class="formato-span-secondary-ter">
                <span>Total: $  {{costoTotal| number : '1.2-2'}}</span><br>
            </div>

        <!-- LISTA DE PIZZAS  CREDAS-->

        <ion-card *ngIf="pizzas.length != 0 " class="formato-card-secondary" >
                <div no-padding name class="formato-titulo-main">
                        <span style=" display: flex; justify-content:center; width: 100%;">
                            PIZZAS FAVORITAS O CREADAS
                        </span>
                    </div>
            <ion-grid>
                <ion-row justify-content-center align-items-center>
                    <ion-col *ngFor="let pizza of pizzas" col-12>
                        <ion-card class="formato-card-terceary">
                            <ion-card-content>
                                <img *ngIf="pizzas.imgUrl != null" class="imagen-promo-tamano" src="{{combinacion.pizzas.imgUrl}}" />
                                <img *ngIf="pizzas.imgUrl == null" class="imagen-promo-tamano" src="../assets/imgs/pizza-uno.png">
                                <div *ngIf="pizza.nombre != null" no-padding name class="formato-titulo">
                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                            {{pizza.nombre}}
                                    </span>
                                </div><br>
                                <div *ngIf="pizza.nombre == null" no-padding name class="formato-titulo">
                                        <span style=" display: flex; justify-content:center; width: 100%;">
                                                Pizza
                                        </span>
                                    </div>
                                    <div no-padding name class="formato-detalle-un">
                                            <span style=" display: flex; justify-content:center; width: 100%;">
                                                Tamaño: {{pizza.tamano}}
                                            </span>
                                        </div>
                                <div no-padding name class="formato-detalle-un">
                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                        Masa: {{pizza.masa.nombre}}
                                    </span>
                                </div>
                                <div no-padding name class="formato-detalle-un">
                                        <span style=" display: flex; justify-content:center; width: 100%;">
                                            Borde: {{pizza.borde.nombre}}
                                        </span>
                                    </div>
                                    <div no-padding name class="formato-detalle-un">
                                            <span style=" display: flex; justify-content:center; width: 100%; font-weight: 600;">
                                                Ingredientes
                                            </span>
                                        </div>
                                    <div *ngFor="let ingrediente of pizza.ingredientes" no-padding name class="formato-detalle-un">
                                            <span style=" display: flex; justify-content:center; width: 100%;">
                                                    {{ingrediente.nombre}}
                                            </span>
                                        </div><br>
                                <ion-row center>
                                        <p item-start ion-text color="secondary_red">
                                            <strong>Cantidad: </strong>
                                        </p>
                                       <!-- <ion-col width-30 text-center>
                                            <ion-icon name="remove-circle" class="text-2x" tappable
                                                (click)="disminuirCantidad(pizza)" [hidden]="pizza.cantidad < 2 "
                                                color="secondary_red"></ion-icon>
                                        </ion-col>-->
                                        <ion-col width-20 text-center>{{pizza.cantidad}}</ion-col>
                                       <!-- <ion-col width-30 text-center>
                                            <ion-icon name="add-circle" class="text-2x" tappable (click)="aumentarCantidad(pizza)"
                                                color="secondary_red"></ion-icon>
                                        </ion-col> -->
                                        <ion-col width-20 text-center>
                                            <h2 item-start ion-text color="secondary_red">
                                                <strong>${{pizza.costo * pizza.cantidad | number : '1.2-2'}}</strong>
                                            </h2>
                                        </ion-col>
                                    </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>

        <!-- LISTA DE PIZZAS TRADICIONALES (NO SE PUEDEN EDITAR)-->

        <ion-card *ngIf="tradicionales.length !=0" class="formato-card-secondary">
                <div no-padding name class="formato-titulo-main">
                        <span style=" display: flex; justify-content:center; width: 100%;">
                            PIZZAS GOURMET
                        </span>
                    </div>
            <ion-grid>
                <ion-row justify-content-center align-items-center>
                    <ion-col *ngFor="let pizza of tradicionales" col-12>
                        <ion-card class="formato-card-terceary">
                            <ion-card-content>
                                <img class="imagen-promo-tamano" src="{{pizza.imgUrl}}" />
                                <div no-padding name class="formato-titulo">
                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                        {{pizza.nombre}}
                                    </span>
                                </div>
                                <div no-padding name class="formato-detalle">
                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                        Tamaño: {{pizza.tamano}}
                                    </span>
                                </div><br>
                                <ion-row center>
                                    <p item-start ion-text color="secondary_red">
                                        <strong>Cantidad: </strong>
                                    </p>
                                   <!-- <ion-col width-30 text-center>
                                        <ion-icon name="remove-circle" class="text-2x" tappable
                                            (click)="disminuirCantidad(pizza)" [hidden]="pizza.cantidad < 2 "
                                            color="secondary_red"></ion-icon>
                                    </ion-col> -->
                                    <ion-col width-20 text-center>{{pizza.cantidad}}</ion-col>
                                   <!--   <ion-col width-30 text-center>
                                        <ion-icon name="add-circle" class="text-2x" tappable
                                            (click)="aumentarCantidad(pizza)" color="secondary_red"></ion-icon>
                                    </ion-col> -->
                                    <ion-col width-20 text-center>
                                        <h2 item-start ion-text color="secondary_red">
                                            <strong>${{pizza.costo * pizza.cantidad | number : '1.2-2'}}</strong>
                                        </h2>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
 
        <!-- LISTA DE COMBOS-->

        <ion-card *ngIf="combos.length != 0 " class="formato-card-secondary" >
                <div no-padding name class="formato-titulo-main">
                        <span style=" display: flex; justify-content:center; width: 100%;">
                            COMBOS DE LA SEMANA
                        </span>
                    </div>
            <ion-grid>
                <ion-row justify-content-center align-items-center>
                    <ion-col *ngFor="let combo of combos" col-12>
                        <ion-card class="formato-card-terceary">
                            <ion-card-content>
                                <img class="imagen-promo-tamano" src="{{combo.IMAGEN_URL}}" />
                                <div no-padding name class="formato-titulo">
                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                        {{combo.NOMBRE}}
                                    </span>
                                </div>
                                <div no-padding name class="formato-detalle">
                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                        Precio: ${{combo.COSTO}}
                                    </span>
                                </div><br>

                                <div no-padding name class="formato-detalle">
                                    <span
                                        style=" display: flex; justify-content:center; width: 100%; margin-bottom: 0%;">
                                        PIZZAS:
                                    </span>
                                </div>
                                <ion-grid>
                                    <ion-row justify-content-center align-items-center>
                                        <ion-col *ngFor="let pizza of combo.PIZZAS" col-12>
                                            <ion-card class="formato-card-quarte">
                                                <img *ngIf="pizza.imgUrl != null" class="imagen-pizza-card" src="{{pizza.imgUrl}}" />
                                                <img *ngIf="pizza.imgUrl == null" class="imagen-pizza-card" src="../assets/imgs/pizzabase.jpg" />
                                                <div no-padding name class="formato-titulo-second">
                                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                                        {{pizza.nombre}}
                                                    </span>
                                                </div>
                                                <div *ngIf="pizza.nombre != 'Pizza Uno' || pizza.nombre != 'Pizza Dos' || pizza.nombre != 'Pizza Tres' || pizza.nombre != 'Pizza Cuatro'" no-padding name class="formato-detalle-second">
                                                    <span  style=" display: flex; justify-content:center; width: 100%;">
                                                        Categoria: {{pizza.tamano}}
                                                    </span>
                                                </div>
                                                <div *ngIf="pizza.nombre == 'Pizza Uno' || pizza.nombre == 'Pizza Dos' || pizza.nombre == 'Pizza Tres' || pizza.nombre == 'Pizza Cuatro'" no-padding name class="formato-detalle-second">
                                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                                        Tamaño: {{pizza.tamano.nombre}}
                                                    </span>
                                                </div>
                                                <div *ngIf="pizza.ingredientes != null">
                                                <div no-padding name class="formato-detalle-second">
                                                    <span style=" display: flex; justify-content:center; width: 100%; font-weight: 600;">
                                                        Ingredientes:
                                                    </span>
                                                </div>
                                            <div *ngFor="let ingrediente of pizza.ingredientes" no-padding name class="formato-detalle-second">
                                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                                            {{ingrediente.nombre}}
                                                    </span>
                                                </div>
                                            </div>
                                                <div no-padding name class="formato-detalle-second"
                                                    style="margin-bottom: 3%;">
                                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                                        Cantidad: {{pizza.cantidad}}
                                                    </span>
                                                </div>
                                            </ion-card>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>

   <!--  LISTA DE ADICIONALES (BEBIDAS Y ACOMPAÑANTES)--> 

        <ion-card  *ngIf="adicionales.length != 0 " class="formato-card-secondary">
                <div no-padding name class="formato-titulo-main">
                        <span style=" display: flex; justify-content:center; width: 100%;">
                            ACOMPAÑANTES
                        </span>
                    </div>
            <ion-grid>
                <ion-row justify-content-center align-items-center>
                    <ion-col *ngFor="let adicional of adicionales" col-12>
                        <ion-card class="formato-card-terceary">
                            <ion-card-content>
                                <img class="imagen-promo-tamano-card" src="{{adicional.imagenUrl}}" />
                                <div no-padding name class="formato-titulo-second">
                                    <span style=" display: flex; justify-content:center; width: 100%;">
                                        {{adicional.nombre}}
                                    </span>
                                </div><br>
                                <ion-row center>
                                    <p item-start ion-text color="secondary_red">
                                        <strong>Cantidad: </strong>
                                    </p>
                                  <!--  <ion-col width-20 text-center>
                                        <ion-icon name="remove-circle" class="text-2x" tappable
                                            (click)="disminuirCantidad(adicional)" [hidden]="adicional.cantidad < 2 "
                                            color="secondary_red"></ion-icon>
                                    </ion-col>-->
                                    <ion-col width-10 text-center>{{adicional.cantidad}}</ion-col>
                                  <!--  <ion-col width-20 text-center>
                                        <ion-icon name="add-circle" class="text-2x" tappable
                                            (click)="aumentarCantidad(adicional)" color="secondary_red"></ion-icon>
                                    </ion-col> -->
                                    <ion-col width-20 text-center>
                                        <h2 item-start ion-text color="secondary_red">
                                            <strong>${{adicional.costoBase * adicional.cantidad | number : '1.2-2'}}</strong>
                                        </h2>
                                    </ion-col>
                                </ion-row>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
   
        <h4 *ngIf="pizzas.length == 0 && adicionales.length ==0 && tradicionales.length ==0 && combos.length ==0 "
            text-center>El resumen esta vacio</h4>
    </ion-card>
</ion-content>
